@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}

:root{
    --black : #332f29 ;
}
p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 1.5rem 0;
    font-family: 'Open Sans',sans-serif;
}
.heading{
    font-family: 'Lobster', cursive;
    font-size: 9rem;
    color: var(--black);
}
.heading-s{
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    font-weight: 400;
    color: var(--black);
}
section{
    padding: 7rem 0;
}
#hero{
    padding-top: 3rem;
    padding-bottom: 10rem;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-bottom: 4rem;
}
.nav{
    width: 1000px;
}
nav img{
    width: 140px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-txt{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 530px;
    padding: 0 2rem;
}
.hero-txt h2{
    color: rgb(184, 184, 184);
    font-size: 4rem;
}
.hero-box-main{
    width: 500px;
}
.hero-box{
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/39b033dde1465143b07226b3/ad214b4c620535b3ecca822e82749727.jpeg);
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 300px;
}
.hero-box-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}
.hero-box-flex-box{
    background-position: center;
    background-size: cover;
    width: calc(50% - 1rem);
    height: 300px;
}
.hero-box-flex-box:nth-child(1){
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/e8e83627718a5dd5a27ce05d/a97610021dc8cea3bdc1cdc13368b702.jpeg);
}
.hero-box-flex-box:nth-child(2)
{
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/8bd2ac60e3635edca0dd9c09/1d3c943d55b18647f4877013e852dfe3.jpeg);
}
/* About Us */
#aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3dcd2;
}
.aboutus-img{
    height: 530px;
    width: 350px;
    background-image: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/99850a99aa5a5b5bba578834/45689a59667c9370ddeec898b51dcd29.jpeg);
    background-size: cover;
    background-position: center;
    margin-right: 4rem;
}
.aboutus-txt{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 600px;

}
.heading-2{
    color: #fff;
    font-size: 4.4rem;
    font-weight: 400;
}
.aboutus-txt .heading{
    transform: translate(14px, -34px);
}

@media screen and (max-width:1150px) {

    .hero-txt {
        width: 360px;
    }
    .hero-box-main {
        width: 400px;
    }
    .nav {
        width: 720px;
    }
    .aboutus-txt {
        width: 360px;
    }
}
@media screen and (max-width:900px) {
    .hero{
        flex-direction: column;
    }
    .hero-txt {
        width: 90%;
        margin-bottom: 4rem;
    }
    .nav {
        width: 90%;
    }
    .hero-box-main{
        width: 90%;
    }
    #aboutus {
        flex-direction: column;
    }
    .aboutus-img{
        margin-right: 0;
        margin-bottom: 5rem;
    }
    .aboutus-img {
        width: 80%;
    }
    .aboutus-txt{
        width: 80%;
    }
}
@media screen and (max-width:800px) {
    
}
@media screen and (max-width:700px) {
    
}
@media screen and (max-width:600px) {
    .hero-txt {
        width: 100%;
    }
    .heading {
        font-size: 7rem;
    }
}
@media screen and (max-width:500px) {
    .hero-box-flex-box{
        width: 100%;
    }
    .hero-box-flex{
        flex-direction: column;
    }
    .hero-box{
        width: 100%;
    }
    .hero-box-flex-box:nth-child(2){
        margin-top: 2rem;
    }
    .hero-txt h2{
        font-size: 3rem;
    }
    .heading-s {
        font-size: 5rem;
    }
    nav img {
        width: 100px;
    }
    .aboutus-img {
        height: 440px;
    }
    .aboutus-img {
        width: 90%;
    }
    .aboutus-txt{
        width: 90%;
    }
}
@media screen and (max-width:400px) {
    .heading {
        font-size: 6rem;
    }
}
@media screen and (max-width:300px) {
    
}